body {
    background-color:white;
}
.main {
    text-align:center;
}
.name {
    color:white;
    font-size:50px;
    font-weight:bold;
}
#subtxt {
    font-style:bold;
    font-size:20px;
    color:white;
    text-align:right;
